/* TODO Add site wide styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 16px;
    color: antiquewhite;
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    align-items: center;
}