/* TODO Add site wide styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    border-radius: 3rem;
}

.navbar li{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    align-items: center;
}

.pages{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}

img{
    height: 350px;
    width: 250px;
    border-radius: 3rem;
    border: 0;
}

body{
    background: rgb(63, 54, 54);
}

.singlepage{
    display: flex;
    padding-top: 20px;
    width: 60%;
}

.singlepage div{
    padding-left: 20px;
}

.singlepage div button{
    padding: 13px 31px;
    border: 1px solid var(--sp-dark);
    border-radius: 500px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    font-size: 14px !important;
    color: var(--sp-dark);
    width: 50%;
    cursor: pointer;
}

.page{
    padding-left: 20px;
    background-color: black;
    color: white;
    border-radius: 3rem;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.page button{
    padding: 13px 31px;
    border: 1px solid var(--sp-dark);
    border-radius: 500px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    font-size: 14px !important;
    color: black;
    margin-left:  10px;
    cursor: pointer;
}

.comments{
    margin-top: 30px;
}

.comments p{
    max-width: 350px;
}

.chart{
    display: flex;
    margin-top: 30px;
}

.chart-detail{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

}

.chart-button button{
    padding: 13px 31px;
    border: 1px solid var(--sp-dark);
    border-radius: 500px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    font-size: 14px !important;
    color: black;
    margin-left:  10px;
    margin-right: 10px;
    cursor: pointer;
}

.short{
    color: red;
}

.first-chart button{
    padding: 13px 31px;
    border: 1px solid var(--sp-dark);
    border-radius: 500px;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    font-size: 14px !important;
    color: var(--sp-dark);
    width: 20%;
    cursor: pointer;
}

.links{
    text-decoration: none;
    color: rgb(248, 228, 228);
    font-weight: bold;
}

.delete button{
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5rem;
    border: 0;
}

.ladd{
    font-weight: 400px;
    font-size: 26px;
}


.b{
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5rem;
    border: 0;
}

textarea{
    height: 200px;
    width: 250px;
    max-width: 250px;
    max-height: 200px;
}